*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1600px;
    font-family: "Open Sans", sans-serif;
}
:root {
    --primary-color: #FD6E0A;
    --heading-color: #181818;
    --subHeading-color: #474747;
    --paragrape-color: #757575;
    --white: #ffffff;
}
ul, ol{
    list-style-type: none;
}
.p18px{
    font-size: 18px;
    color: var(--paragrape-color);
    line-height: 30px;
}
.p16px{
    font-size: 16px;
    color: var(--paragrape-color);
    line-height: 28px;
}

.section_heading{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: var(--heading-color);
}


header{
    background-color: #FFF8F3;
}

/* Nav start */
.logo{
    font-weight: 800;
    font-size: 45px;
}
.primary_color{
    color: var(--primary-color);
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 230px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 51px;
}
.list{
    display: flex;
    gap: 50px;
    color: var(--subHeading-color);
    font-size: 20px;
}
.btn_praimary{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: none;
}
.btn_hover{
    background-color: transparent;
    color: var(--primary-color);
    padding: 18px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--primary-color); 
}
/* Nav end */

/* Banner Start */
#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px 0px 230px;
    background-image: url("../image/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
.profilePic{
    width: 500px;
}
.profilePic img{
    width: 100%;
    display: block;
}
.banner_details h4{
    font-weight: 600;
    font-size: 45px;
    color: var(--subHeading-color);
}
.banner_details h1{
    font-weight: 700;
    font-size: 85px;
    color: var(--heading-color);
}
.banner_details p{
    max-width: 585px;
    margin: 20px 0 30px;
}
.banner_contact{
    display: flex;
    gap: 30px;
}

/* Banner end */
/* Main Start */
    /* About Start */

#main{
    max-width: 1140px;
    margin: 0 auto;
}
#about{
    background-color: #FFF8F3;
    padding: 131px 156px;
    margin: 130px 0;
    border-radius: 10px;
}
.about_desc{
    text-align: center;
    margin: 30px 0;
}
.about_contact{
    display: flex;
    justify-content: space-around;
}
.about_info{
    text-align: center;
}
.info_title{
    font-size: 20px;
    line-height: 30px;
    color: var(--paragrape-color);
}
.info_desc{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: var(--subHeading-color);
}
    /* About End */
    /* What I do Start */
.what_desc{
    text-align: center;
    margin: 30px 115px 50px;
}
.whatIDo_card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.whatIDo_cardJS{
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cardImg{
    width: 40px;
}
.cardImg img{
    width: 100%;
}
.cardHeading{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: var(--heading-color);
    margin: 30px 0 20px;
}

/* What I do Ehd */

/* Resume Start */
#resume{
    margin: 130px 0;
}
.resume{
    display: flex;
    gap: 24px;
    margin-top: 113px;
}
.education_heading{
    font-size: 30px;
    font-weight: 700;
    color: var(--subHeading-color);
}
.education_part{
    margin: 30px 0;
}
.education_title{
    font-size: 25px;
    font-weight: 700;
    color: var(--subHeading-color);
}
.education_institute{
    font-size: 20px;
    font-weight: 600;
    color: var(--paragrape-color);
}
.education_desc{
    max-width: 511x;
}

.resume_download{
    text-align: center;
    margin-top: 30px;
}
/* Resume End */

footer{
    padding: 130px 230px;
    background-color: #FFF8F3;
    display: flex;
    gap: 117px;
}
footer .section_heading{
    text-align: left;
}
.contact_icons{
    display: flex;
    gap: 30px;
}
.contact_icons i{
    color: var(--primary-color);
    font-size: 20px;
}
.lets_contact .p16px{
    margin: 30px 0;
}
.lets_messege .p16px{
    padding: 18px 30px;
    background-color: #ffffff;
    outline: none;
    border: none;
    width: 461px;
    margin-top: 24px;
    display: block;
}
.lets_messege textarea{
    height: 180px;
}
.lets_messege .btn_praimary{
    margin-top: 24px;
}